In [1]:
from util.PathConfig import path_config
import sqlite3
import pandas as pd
import numpy as np

C:\Users\Ethan\glucose-prediction\app\src\config/local_project_dirs.json
Loading config

In [2]:
# Function to insert row in the dataframe. From GeeksForGeeks.
def insert_row(row_number, df, row_value):
    # Starting value of upper half
    start_upper = 0
  
    # End value of upper half
    end_upper = row_number
  
    # Start value of lower half
    start_lower = row_number
  
    # End value of lower half
    end_lower = df.shape[0]
  
    # Create a list of upper_half index
    upper_half = [*range(start_upper, end_upper, 1)]
  
    # Create a list of lower_half index
    lower_half = [*range(start_lower, end_lower, 1)]
  
    # Increment the value of lower half by 1
    lower_half = [x.__add__(1) for x in lower_half]
  
    # Combine the two lists
    index_ = upper_half + lower_half
  
    # Update the index of the dataframe
    df.index = index_
  
    # Insert a row at the end
    df.loc[row_number] = row_value
   
    # Sort the index labels
    df = df.sort_index()
  
    # return the dataframe
    return df

In [3]:
db_dir = getattr(path_config, 'db_dir')
print(db_dir)

C:/Users/Ethan/glucose-prediction/data/HealthData/DBs

In [4]:
conn = sqlite3.connect(db_dir + '/garmin_monitoring.db')

In [5]:
cur = conn.cursor()

In [6]:
cur.execute("SELECT * FROM monitoring_hr WHERE timestamp like '2021-08-17%'")

In [7]:
heart_rate = cur.fetchall()

In [8]:
for row in heart_rate:
    print(row)

('2021-08-17 00:01:00.000000', 53)
('2021-08-17 00:02:00.000000', 52)
('2021-08-17 00:05:00.000000', 51)
('2021-08-17 00:06:00.000000', 52)
('2021-08-17 00:07:00.000000', 51)
('2021-08-17 00:09:00.000000', 52)
('2021-08-17 00:16:00.000000', 51)
('2021-08-17 00:18:00.000000', 52)
('2021-08-17 00:20:00.000000', 51)
('2021-08-17 00:22:00.000000', 52)
('2021-08-17 00:23:00.000000', 51)
('2021-08-17 00:27:00.000000', 52)
('2021-08-17 00:28:00.000000', 53)
('2021-08-17 00:29:00.000000', 58)
('2021-08-17 00:30:00.000000', 56)
('2021-08-17 00:31:00.000000', 54)
('2021-08-17 00:32:00.000000', 57)
('2021-08-17 00:33:00.000000', 59)
('2021-08-17 00:34:00.000000', 57)
('2021-08-17 00:35:00.000000', 56)
('2021-08-17 00:36:00.000000', 57)
('2021-08-17 00:37:00.000000', 56)
('2021-08-17 00:38:00.000000', 57)
('2021-08-17 00:39:00.000000', 55)
('2021-08-17 00:41:00.000000', 54)
('2021-08-17 00:42:00.000000', 55)
('2021-08-17 00:44:00.000000', 56)
('2021-08-17 00:45:00.000000', 54)
('2021-08-17 00:46:00.000000', 52)
('2021-08-17 00:47:00.000000', 54)
('2021-08-17 00:48:00.000000', 52)
('2021-08-17 00:49:00.000000', 51)
('2021-08-17 00:50:00.000000', 52)
('2021-08-17 00:51:00.000000', 51)
('2021-08-17 00:52:00.000000', 54)
('2021-08-17 00:53:00.000000', 51)
('2021-08-17 00:55:00.000000', 52)
('2021-08-17 00:56:00.000000', 51)
('2021-08-17 00:57:00.000000', 52)
('2021-08-17 00:58:00.000000', 55)
('2021-08-17 00:59:00.000000', 65)
('2021-08-17 01:00:00.000000', 58)
('2021-08-17 01:01:00.000000', 61)
('2021-08-17 01:03:00.000000', 53)
('2021-08-17 01:04:00.000000', 52)
('2021-08-17 01:05:00.000000', 51)
('2021-08-17 01:06:00.000000', 50)
('2021-08-17 01:07:00.000000', 49)
('2021-08-17 01:09:00.000000', 48)
('2021-08-17 01:10:00.000000', 49)
('2021-08-17 01:12:00.000000', 48)
('2021-08-17 01:13:00.000000', 49)
('2021-08-17 01:15:00.000000', 50)
('2021-08-17 01:18:00.000000', 48)
('2021-08-17 01:19:00.000000', 49)
('2021-08-17 01:22:00.000000', 50)
('2021-08-17 01:28:00.000000', 49)
('2021-08-17 01:31:00.000000', 50)
('2021-08-17 01:35:00.000000', 49)
('2021-08-17 01:36:00.000000', 50)
('2021-08-17 01:39:00.000000', 51)
('2021-08-17 01:40:00.000000', 50)
('2021-08-17 01:41:00.000000', 49)
('2021-08-17 01:42:00.000000', 50)
('2021-08-17 01:43:00.000000', 51)
('2021-08-17 01:44:00.000000', 53)
('2021-08-17 01:45:00.000000', 49)
('2021-08-17 01:46:00.000000', 51)
('2021-08-17 01:48:00.000000', 50)
('2021-08-17 01:49:00.000000', 55)
('2021-08-17 01:50:00.000000', 53)
('2021-08-17 01:51:00.000000', 55)
('2021-08-17 01:52:00.000000', 53)
('2021-08-17 01:53:00.000000', 54)
('2021-08-17 01:54:00.000000', 51)
('2021-08-17 01:55:00.000000', 53)
('2021-08-17 01:56:00.000000', 54)
('2021-08-17 01:57:00.000000', 52)
('2021-08-17 01:58:00.000000', 53)
('2021-08-17 01:59:00.000000', 52)
('2021-08-17 02:02:00.000000', 51)
('2021-08-17 02:04:00.000000', 52)
('2021-08-17 02:05:00.000000', 51)
('2021-08-17 02:07:00.000000', 54)
('2021-08-17 02:08:00.000000', 50)
('2021-08-17 02:09:00.000000', 51)
('2021-08-17 02:10:00.000000', 48)
('2021-08-17 02:11:00.000000', 52)
('2021-08-17 02:12:00.000000', 51)
('2021-08-17 02:13:00.000000', 53)
('2021-08-17 02:14:00.000000', 51)
('2021-08-17 02:16:00.000000', 52)
('2021-08-17 02:17:00.000000', 50)
('2021-08-17 02:18:00.000000', 52)
('2021-08-17 02:20:00.000000', 51)
('2021-08-17 02:22:00.000000', 50)
('2021-08-17 02:24:00.000000', 53)
('2021-08-17 02:25:00.000000', 56)
('2021-08-17 02:26:00.000000', 59)
('2021-08-17 02:27:00.000000', 57)
('2021-08-17 02:28:00.000000', 64)
('2021-08-17 02:29:00.000000', 63)
('2021-08-17 02:32:00.000000', 51)
('2021-08-17 02:33:00.000000', 50)
('2021-08-17 02:35:00.000000', 51)
('2021-08-17 02:37:00.000000', 50)
('2021-08-17 02:38:00.000000', 51)
('2021-08-17 02:39:00.000000', 50)
('2021-08-17 02:40:00.000000', 51)
('2021-08-17 02:44:00.000000', 50)
('2021-08-17 02:45:00.000000', 51)
('2021-08-17 02:50:00.000000', 50)
('2021-08-17 02:51:00.000000', 49)
('2021-08-17 02:52:00.000000', 50)
('2021-08-17 02:54:00.000000', 51)
('2021-08-17 03:02:00.000000', 50)
('2021-08-17 03:03:00.000000', 51)
('2021-08-17 03:08:00.000000', 52)
('2021-08-17 03:09:00.000000', 55)
('2021-08-17 03:10:00.000000', 49)
('2021-08-17 03:12:00.000000', 51)
('2021-08-17 03:18:00.000000', 50)
('2021-08-17 03:19:00.000000', 49)
('2021-08-17 03:20:00.000000', 51)
('2021-08-17 03:21:00.000000', 52)
('2021-08-17 03:23:00.000000', 51)
('2021-08-17 03:24:00.000000', 50)
('2021-08-17 03:26:00.000000', 51)
('2021-08-17 03:28:00.000000', 50)
('2021-08-17 03:29:00.000000', 51)
('2021-08-17 03:30:00.000000', 53)
('2021-08-17 03:31:00.000000', 51)
('2021-08-17 03:32:00.000000', 52)
('2021-08-17 03:34:00.000000', 51)
('2021-08-17 03:35:00.000000', 50)
('2021-08-17 03:36:00.000000', 51)
('2021-08-17 03:37:00.000000', 52)
('2021-08-17 03:38:00.000000', 62)
('2021-08-17 03:39:00.000000', 56)
('2021-08-17 03:40:00.000000', 52)
('2021-08-17 03:42:00.000000', 50)
('2021-08-17 03:45:00.000000', 51)
('2021-08-17 03:46:00.000000', 56)
('2021-08-17 03:47:00.000000', 55)
('2021-08-17 03:49:00.000000', 53)
('2021-08-17 03:50:00.000000', 54)
('2021-08-17 03:52:00.000000', 55)
('2021-08-17 03:53:00.000000', 53)
('2021-08-17 03:54:00.000000', 54)
('2021-08-17 03:56:00.000000', 53)
('2021-08-17 03:57:00.000000', 54)
('2021-08-17 03:58:00.000000', 55)
('2021-08-17 03:59:00.000000', 54)
('2021-08-17 04:00:00.000000', 53)
('2021-08-17 04:01:00.000000', 51)
('2021-08-17 04:03:00.000000', 52)
('2021-08-17 04:04:00.000000', 51)
('2021-08-17 04:05:00.000000', 53)
('2021-08-17 04:06:00.000000', 52)
('2021-08-17 04:07:00.000000', 56)
('2021-08-17 04:08:00.000000', 54)
('2021-08-17 04:11:00.000000', 55)
('2021-08-17 04:12:00.000000', 53)
('2021-08-17 04:15:00.000000', 55)
('2021-08-17 04:17:00.000000', 50)
('2021-08-17 04:18:00.000000', 61)
('2021-08-17 04:19:00.000000', 57)
('2021-08-17 04:20:00.000000', 56)
('2021-08-17 04:21:00.000000', 58)
('2021-08-17 04:22:00.000000', 61)
('2021-08-17 04:23:00.000000', 52)
('2021-08-17 04:24:00.000000', 55)
('2021-08-17 04:25:00.000000', 54)
('2021-08-17 04:26:00.000000', 53)
('2021-08-17 04:27:00.000000', 52)
('2021-08-17 04:29:00.000000', 54)
('2021-08-17 04:30:00.000000', 53)
('2021-08-17 04:31:00.000000', 55)
('2021-08-17 04:32:00.000000', 54)
('2021-08-17 04:33:00.000000', 53)
('2021-08-17 04:34:00.000000', 50)
('2021-08-17 04:35:00.000000', 58)
('2021-08-17 04:36:00.000000', 56)
('2021-08-17 04:37:00.000000', 52)
('2021-08-17 04:39:00.000000', 54)
('2021-08-17 04:40:00.000000', 52)
('2021-08-17 04:42:00.000000', 50)
('2021-08-17 04:44:00.000000', 51)
('2021-08-17 04:45:00.000000', 52)
('2021-08-17 04:46:00.000000', 51)
('2021-08-17 04:47:00.000000', 52)
('2021-08-17 04:49:00.000000', 51)
('2021-08-17 04:50:00.000000', 52)
('2021-08-17 04:52:00.000000', 51)
('2021-08-17 04:53:00.000000', 52)
('2021-08-17 04:54:00.000000', 51)
('2021-08-17 04:55:00.000000', 52)
('2021-08-17 04:57:00.000000', 51)
('2021-08-17 04:58:00.000000', 52)
('2021-08-17 04:59:00.000000', 53)
('2021-08-17 05:01:00.000000', 57)
('2021-08-17 05:02:00.000000', 54)
('2021-08-17 05:03:00.000000', 53)
('2021-08-17 05:04:00.000000', 52)
('2021-08-17 05:05:00.000000', 51)
('2021-08-17 05:06:00.000000', 57)
('2021-08-17 05:07:00.000000', 54)
('2021-08-17 05:08:00.000000', 50)
('2021-08-17 05:13:00.000000', 49)
('2021-08-17 05:18:00.000000', 50)
('2021-08-17 05:19:00.000000', 49)
('2021-08-17 05:20:00.000000', 50)
('2021-08-17 05:23:00.000000', 52)
('2021-08-17 05:24:00.000000', 53)
('2021-08-17 05:25:00.000000', 50)
('2021-08-17 05:27:00.000000', 51)
('2021-08-17 05:28:00.000000', 50)
('2021-08-17 05:30:00.000000', 49)
('2021-08-17 05:33:00.000000', 51)
('2021-08-17 05:34:00.000000', 50)
('2021-08-17 05:35:00.000000', 55)
('2021-08-17 05:36:00.000000', 52)
('2021-08-17 05:37:00.000000', 59)
('2021-08-17 05:38:00.000000', 55)
('2021-08-17 05:39:00.000000', 53)
('2021-08-17 05:40:00.000000', 51)
('2021-08-17 05:42:00.000000', 49)
('2021-08-17 05:43:00.000000', 55)
('2021-08-17 05:44:00.000000', 54)
('2021-08-17 05:48:00.000000', 56)
('2021-08-17 05:49:00.000000', 55)
('2021-08-17 05:50:00.000000', 57)
('2021-08-17 05:51:00.000000', 61)
('2021-08-17 05:52:00.000000', 59)
('2021-08-17 05:53:00.000000', 62)
('2021-08-17 05:54:00.000000', 56)
('2021-08-17 05:55:00.000000', 58)
('2021-08-17 05:56:00.000000', 59)
('2021-08-17 05:57:00.000000', 57)
('2021-08-17 05:58:00.000000', 60)
('2021-08-17 05:59:00.000000', 63)
('2021-08-17 06:00:00.000000', 62)
('2021-08-17 06:01:00.000000', 60)
('2021-08-17 06:02:00.000000', 59)
('2021-08-17 06:03:00.000000', 63)
('2021-08-17 06:04:00.000000', 59)
('2021-08-17 06:05:00.000000', 61)
('2021-08-17 06:06:00.000000', 59)
('2021-08-17 06:07:00.000000', 60)
('2021-08-17 06:09:00.000000', 62)
('2021-08-17 06:10:00.000000', 65)
('2021-08-17 06:12:00.000000', 62)
('2021-08-17 06:13:00.000000', 61)
('2021-08-17 06:15:00.000000', 63)
('2021-08-17 06:16:00.000000', 62)
('2021-08-17 06:17:00.000000', 58)
('2021-08-17 06:18:00.000000', 62)
('2021-08-17 06:20:00.000000', 60)
('2021-08-17 06:24:00.000000', 58)
('2021-08-17 06:25:00.000000', 59)
('2021-08-17 06:27:00.000000', 62)
('2021-08-17 06:28:00.000000', 61)
('2021-08-17 06:29:00.000000', 60)
('2021-08-17 06:30:00.000000', 58)
('2021-08-17 06:32:00.000000', 57)
('2021-08-17 06:33:00.000000', 59)
('2021-08-17 06:34:00.000000', 58)
('2021-08-17 06:35:00.000000', 57)
('2021-08-17 06:36:00.000000', 56)
('2021-08-17 06:38:00.000000', 58)
('2021-08-17 06:39:00.000000', 56)
('2021-08-17 06:40:00.000000', 55)
('2021-08-17 06:41:00.000000', 54)
('2021-08-17 06:42:00.000000', 55)
('2021-08-17 06:43:00.000000', 54)
('2021-08-17 06:45:00.000000', 59)
('2021-08-17 06:47:00.000000', 61)
('2021-08-17 06:48:00.000000', 59)
('2021-08-17 06:49:00.000000', 56)
('2021-08-17 06:50:00.000000', 55)
('2021-08-17 06:51:00.000000', 60)
('2021-08-17 06:52:00.000000', 58)
('2021-08-17 06:54:00.000000', 57)
('2021-08-17 06:55:00.000000', 62)
('2021-08-17 06:56:00.000000', 60)
('2021-08-17 06:58:00.000000', 69)
('2021-08-17 06:59:00.000000', 63)
('2021-08-17 07:00:00.000000', 61)
('2021-08-17 07:01:00.000000', 62)
('2021-08-17 07:02:00.000000', 72)
('2021-08-17 07:03:00.000000', 63)
('2021-08-17 07:04:00.000000', 61)
('2021-08-17 07:05:00.000000', 63)
('2021-08-17 07:06:00.000000', 60)
('2021-08-17 07:07:00.000000', 58)
('2021-08-17 07:08:00.000000', 57)
('2021-08-17 07:12:00.000000', 59)
('2021-08-17 07:13:00.000000', 58)
('2021-08-17 07:14:00.000000', 56)
('2021-08-17 07:15:00.000000', 57)
('2021-08-17 07:16:00.000000', 56)
('2021-08-17 07:17:00.000000', 57)
('2021-08-17 07:21:00.000000', 58)
('2021-08-17 07:22:00.000000', 64)
('2021-08-17 07:23:00.000000', 60)
('2021-08-17 07:24:00.000000', 58)
('2021-08-17 07:25:00.000000', 56)
('2021-08-17 07:26:00.000000', 57)
('2021-08-17 07:27:00.000000', 56)
('2021-08-17 07:28:00.000000', 55)
('2021-08-17 07:29:00.000000', 56)
('2021-08-17 07:31:00.000000', 58)
('2021-08-17 07:32:00.000000', 63)
('2021-08-17 07:33:00.000000', 57)
('2021-08-17 07:36:00.000000', 59)
('2021-08-17 07:37:00.000000', 58)
('2021-08-17 07:38:00.000000', 56)
('2021-08-17 07:39:00.000000', 53)
('2021-08-17 07:40:00.000000', 55)
('2021-08-17 07:41:00.000000', 57)
('2021-08-17 07:42:00.000000', 62)
('2021-08-17 07:43:00.000000', 57)
('2021-08-17 07:44:00.000000', 55)
('2021-08-17 07:45:00.000000', 57)
('2021-08-17 07:46:00.000000', 58)
('2021-08-17 07:47:00.000000', 57)
('2021-08-17 07:48:00.000000', 59)
('2021-08-17 07:49:00.000000', 62)
('2021-08-17 07:50:00.000000', 68)
('2021-08-17 07:51:00.000000', 66)
('2021-08-17 07:53:00.000000', 63)
('2021-08-17 07:58:00.000000', 62)
('2021-08-17 07:59:00.000000', 70)
('2021-08-17 08:00:00.000000', 86)
('2021-08-17 08:01:00.000000', 72)
('2021-08-17 08:02:00.000000', 69)
('2021-08-17 08:03:00.000000', 67)
('2021-08-17 08:04:00.000000', 63)
('2021-08-17 08:07:00.000000', 65)
('2021-08-17 08:08:00.000000', 68)
('2021-08-17 08:09:00.000000', 70)
('2021-08-17 08:10:00.000000', 71)
('2021-08-17 08:11:00.000000', 76)
('2021-08-17 08:12:00.000000', 71)
('2021-08-17 08:13:00.000000', 70)
('2021-08-17 08:14:00.000000', 69)
('2021-08-17 08:15:00.000000', 67)
('2021-08-17 08:16:00.000000', 69)
('2021-08-17 08:17:00.000000', 77)
('2021-08-17 08:18:00.000000', 80)
('2021-08-17 08:19:00.000000', 78)
('2021-08-17 08:20:00.000000', 70)
('2021-08-17 08:21:00.000000', 69)
('2021-08-17 08:22:00.000000', 71)
('2021-08-17 08:23:00.000000', 73)
('2021-08-17 08:24:00.000000', 72)
('2021-08-17 08:25:00.000000', 73)
('2021-08-17 08:26:00.000000', 75)
('2021-08-17 08:27:00.000000', 69)
('2021-08-17 08:28:00.000000', 72)
('2021-08-17 08:29:00.000000', 71)
('2021-08-17 08:30:00.000000', 80)
('2021-08-17 08:31:00.000000', 90)
('2021-08-17 08:33:00.000000', 98)
('2021-08-17 08:34:00.000000', 87)
('2021-08-17 08:35:00.000000', 84)
('2021-08-17 08:36:00.000000', 76)
('2021-08-17 08:37:00.000000', 69)
('2021-08-17 08:38:00.000000', 64)
('2021-08-17 08:40:00.000000', 65)
('2021-08-17 08:41:00.000000', 73)
('2021-08-17 08:42:00.000000', 81)
('2021-08-17 08:43:00.000000', 74)
('2021-08-17 08:44:00.000000', 71)
('2021-08-17 08:45:00.000000', 65)
('2021-08-17 08:46:00.000000', 63)
('2021-08-17 08:48:00.000000', 64)
('2021-08-17 08:49:00.000000', 63)
('2021-08-17 08:51:00.000000', 69)
('2021-08-17 08:52:00.000000', 65)
('2021-08-17 08:53:00.000000', 66)
('2021-08-17 08:55:00.000000', 63)
('2021-08-17 08:56:00.000000', 65)
('2021-08-17 08:57:00.000000', 66)
('2021-08-17 08:58:00.000000', 65)
('2021-08-17 08:59:00.000000', 62)
('2021-08-17 09:00:00.000000', 71)
('2021-08-17 09:01:00.000000', 89)
('2021-08-17 09:02:00.000000', 65)
('2021-08-17 09:03:00.000000', 68)
('2021-08-17 09:04:00.000000', 64)
('2021-08-17 09:05:00.000000', 60)
('2021-08-17 09:06:00.000000', 58)
('2021-08-17 09:07:00.000000', 56)
('2021-08-17 09:08:00.000000', 60)
('2021-08-17 09:09:00.000000', 58)
('2021-08-17 09:10:00.000000', 59)
('2021-08-17 09:11:00.000000', 62)
('2021-08-17 09:12:00.000000', 65)
('2021-08-17 09:13:00.000000', 82)
('2021-08-17 09:14:00.000000', 71)
('2021-08-17 09:15:00.000000', 68)
('2021-08-17 09:16:00.000000', 85)
('2021-08-17 09:17:00.000000', 91)
('2021-08-17 09:19:00.000000', 90)
('2021-08-17 09:20:00.000000', 86)
('2021-08-17 09:21:00.000000', 89)
('2021-08-17 09:24:00.000000', 88)
('2021-08-17 09:25:00.000000', 92)
('2021-08-17 09:26:00.000000', 87)
('2021-08-17 09:27:00.000000', 93)
('2021-08-17 09:28:00.000000', 94)
('2021-08-17 09:29:00.000000', 90)
('2021-08-17 09:30:00.000000', 81)
('2021-08-17 09:32:00.000000', 78)
('2021-08-17 09:33:00.000000', 82)
('2021-08-17 09:34:00.000000', 83)
('2021-08-17 09:35:00.000000', 84)
('2021-08-17 09:36:00.000000', 95)
('2021-08-17 09:37:00.000000', 94)
('2021-08-17 09:38:00.000000', 91)
('2021-08-17 09:39:00.000000', 93)
('2021-08-17 09:40:00.000000', 94)
('2021-08-17 09:41:00.000000', 92)
('2021-08-17 09:42:00.000000', 95)
('2021-08-17 09:43:00.000000', 91)
('2021-08-17 09:44:00.000000', 78)
('2021-08-17 09:45:00.000000', 65)
('2021-08-17 09:46:00.000000', 64)
('2021-08-17 09:47:00.000000', 66)
('2021-08-17 09:49:00.000000', 64)
('2021-08-17 09:51:00.000000', 62)
('2021-08-17 09:52:00.000000', 63)
('2021-08-17 09:56:00.000000', 61)
('2021-08-17 09:57:00.000000', 60)
('2021-08-17 09:58:00.000000', 64)
('2021-08-17 09:59:00.000000', 65)
('2021-08-17 10:00:00.000000', 63)
('2021-08-17 10:01:00.000000', 64)
('2021-08-17 10:02:00.000000', 65)
('2021-08-17 10:03:00.000000', 73)
('2021-08-17 10:04:00.000000', 62)
('2021-08-17 10:05:00.000000', 64)
('2021-08-17 10:07:00.000000', 65)
('2021-08-17 10:08:00.000000', 67)
('2021-08-17 10:10:00.000000', 66)
('2021-08-17 10:11:00.000000', 64)
('2021-08-17 10:12:00.000000', 63)
('2021-08-17 10:13:00.000000', 65)
('2021-08-17 10:14:00.000000', 66)
('2021-08-17 10:15:00.000000', 64)
('2021-08-17 10:16:00.000000', 65)
('2021-08-17 10:17:00.000000', 64)
('2021-08-17 10:18:00.000000', 65)
('2021-08-17 10:20:00.000000', 63)
('2021-08-17 10:21:00.000000', 67)
('2021-08-17 10:22:00.000000', 66)
('2021-08-17 10:23:00.000000', 68)
('2021-08-17 10:24:00.000000', 65)
('2021-08-17 10:25:00.000000', 62)
('2021-08-17 10:26:00.000000', 63)
('2021-08-17 10:27:00.000000', 64)
('2021-08-17 10:29:00.000000', 66)
('2021-08-17 10:32:00.000000', 71)
('2021-08-17 10:33:00.000000', 77)
('2021-08-17 10:34:00.000000', 79)
('2021-08-17 10:35:00.000000', 86)
('2021-08-17 10:36:00.000000', 91)
('2021-08-17 10:37:00.000000', 83)
('2021-08-17 10:38:00.000000', 74)
('2021-08-17 10:39:00.000000', 79)
('2021-08-17 10:40:00.000000', 71)
('2021-08-17 10:41:00.000000', 86)
('2021-08-17 10:42:00.000000', 85)
('2021-08-17 10:43:00.000000', 87)
('2021-08-17 10:44:00.000000', 83)
('2021-08-17 10:45:00.000000', 78)
('2021-08-17 10:46:00.000000', 71)
('2021-08-17 10:47:00.000000', 83)
('2021-08-17 10:48:00.000000', 80)
('2021-08-17 10:49:00.000000', 66)
('2021-08-17 10:50:00.000000', 70)
('2021-08-17 10:51:00.000000', 67)
('2021-08-17 10:53:00.000000', 71)
('2021-08-17 10:54:00.000000', 74)
('2021-08-17 10:55:00.000000', 72)
('2021-08-17 10:56:00.000000', 69)
('2021-08-17 10:57:00.000000', 68)
('2021-08-17 10:58:00.000000', 76)
('2021-08-17 10:59:00.000000', 80)
('2021-08-17 11:00:00.000000', 87)
('2021-08-17 11:01:00.000000', 81)
('2021-08-17 11:02:00.000000', 78)
('2021-08-17 11:03:00.000000', 76)
('2021-08-17 11:04:00.000000', 75)
('2021-08-17 11:05:00.000000', 72)
('2021-08-17 11:06:00.000000', 82)
('2021-08-17 11:07:00.000000', 76)
('2021-08-17 11:08:00.000000', 74)
('2021-08-17 11:09:00.000000', 75)
('2021-08-17 11:10:00.000000', 77)
('2021-08-17 11:11:00.000000', 76)
('2021-08-17 11:12:00.000000', 69)
('2021-08-17 11:14:00.000000', 68)
('2021-08-17 11:15:00.000000', 75)
('2021-08-17 11:16:00.000000', 88)
('2021-08-17 11:17:00.000000', 96)
('2021-08-17 11:18:00.000000', 97)
('2021-08-17 11:22:00.000000', 100)
('2021-08-17 11:23:00.000000', 96)
('2021-08-17 11:24:00.000000', 101)
('2021-08-17 11:25:00.000000', 104)
('2021-08-17 11:26:00.000000', 118)
('2021-08-17 11:27:00.000000', 123)
('2021-08-17 11:28:00.000000', 122)
('2021-08-17 11:30:00.000000', 117)
('2021-08-17 11:31:00.000000', 116)
('2021-08-17 11:32:00.000000', 120)
('2021-08-17 11:33:00.000000', 110)
('2021-08-17 11:34:00.000000', 107)
('2021-08-17 11:35:00.000000', 96)
('2021-08-17 11:36:00.000000', 91)
('2021-08-17 11:38:00.000000', 85)
('2021-08-17 11:39:00.000000', 78)
('2021-08-17 11:40:00.000000', 74)
('2021-08-17 11:41:00.000000', 77)
('2021-08-17 11:42:00.000000', 74)
('2021-08-17 11:43:00.000000', 77)
('2021-08-17 11:45:00.000000', 75)
('2021-08-17 11:46:00.000000', 78)
('2021-08-17 11:47:00.000000', 75)
('2021-08-17 11:48:00.000000', 76)
('2021-08-17 11:50:00.000000', 78)
('2021-08-17 11:51:00.000000', 79)
('2021-08-17 11:52:00.000000', 76)
('2021-08-17 11:53:00.000000', 82)
('2021-08-17 11:55:00.000000', 74)
('2021-08-17 11:56:00.000000', 70)
('2021-08-17 11:58:00.000000', 69)
('2021-08-17 12:00:00.000000', 70)
('2021-08-17 12:03:00.000000', 71)
('2021-08-17 12:04:00.000000', 81)
('2021-08-17 12:05:00.000000', 96)
('2021-08-17 12:06:00.000000', 99)
('2021-08-17 12:07:00.000000', 85)
('2021-08-17 12:08:00.000000', 76)
('2021-08-17 12:09:00.000000', 75)
('2021-08-17 12:10:00.000000', 74)
('2021-08-17 12:11:00.000000', 71)
('2021-08-17 12:12:00.000000', 74)
('2021-08-17 12:13:00.000000', 85)
('2021-08-17 12:14:00.000000', 87)
('2021-08-17 12:15:00.000000', 96)
('2021-08-17 12:16:00.000000', 85)
('2021-08-17 12:17:00.000000', 87)
('2021-08-17 12:18:00.000000', 90)
('2021-08-17 12:19:00.000000', 92)
('2021-08-17 12:21:00.000000', 80)
('2021-08-17 12:22:00.000000', 83)
('2021-08-17 12:23:00.000000', 101)
('2021-08-17 12:24:00.000000', 91)
('2021-08-17 12:25:00.000000', 77)
('2021-08-17 12:26:00.000000', 73)
('2021-08-17 12:27:00.000000', 86)
('2021-08-17 12:28:00.000000', 84)
('2021-08-17 12:29:00.000000', 80)
('2021-08-17 12:31:00.000000', 87)
('2021-08-17 12:32:00.000000', 96)
('2021-08-17 12:34:00.000000', 98)
('2021-08-17 12:36:00.000000', 96)
('2021-08-17 12:37:00.000000', 86)

In [9]:
hr_df = pd.read_sql_query("SELECT * FROM monitoring_hr", conn)

In [10]:
hr_df.head()

                    timestamp  heart_rate
0  2021-08-15 00:02:00.000000          47
1  2021-08-15 00:04:00.000000          45
2  2021-08-15 00:05:00.000000          49
3  2021-08-15 00:06:00.000000          48
4  2021-08-15 00:07:00.000000          46

In [11]:
hr_df

                        timestamp  heart_rate
0      2021-08-15 00:02:00.000000          47
1      2021-08-15 00:04:00.000000          45
2      2021-08-15 00:05:00.000000          49
3      2021-08-15 00:06:00.000000          48
4      2021-08-15 00:07:00.000000          46
...                           ...         ...
48959  2021-09-26 13:11:00.000000          72
48960  2021-09-26 13:12:00.000000          84
48961  2021-09-26 13:13:00.000000          76
48962  2021-09-26 13:14:00.000000          81
48963  2021-09-26 13:15:00.000000          76

[48964 rows x 2 columns]

In [12]:
hr_df.describe()

         heart_rate
count  48964.000000
mean      70.186055
std       18.647615
min       43.000000
25%       58.000000
50%       67.000000
75%       77.000000
max      194.000000

In [13]:
hr_df.shape

(48964, 2)

In [14]:
hr_df.columns

Index(['timestamp', 'heart_rate'], dtype='object')

In [15]:
hr_df.dtypes

timestamp     object
heart_rate     int64
dtype: object

In [16]:
hr_df.isna().sum()

timestamp     0
heart_rate    0
dtype: int64

In [17]:
# Convert all the timestamps to datetimes
hr_df['timestamp'] = pd.to_datetime(hr_df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
# Assert that all timestamps were converted successfully
assert hr_df.timestamp.isnull().sum() == 0, 'timestamp conversion failed'

In [18]:
hr_df.dtypes

timestamp     datetime64[ns]
heart_rate             int64
dtype: object

In [19]:
start = pd.to_datetime(str(hr_df['timestamp'].min()))
end = pd.to_datetime(str(hr_df['timestamp'].max()))

In [20]:
print(start)

2021-08-15 00:02:00

In [21]:
print(end)

2021-09-26 13:15:00

In [22]:
full_timestamps = pd.date_range(start=start, end=end, freq='1Min')

In [23]:
# To fill in empty timestamps, reindex the dataframe with the the filled in datetime range and reindex to get rid of the old
# timestamp column. This should automatically populate the dataframe with NaN values. Reset the index again to make the
# index column into a regular column, and rename it back from 'index' to 'timestamp'.
hr_df = hr_df.set_index('timestamp').reindex(full_timestamps).rename_axis('timestamp').reset_index()


# I'm not sure why, but calling reindex inline and chaining off of reset_index() seems to cause the columns list to still have
# the old ones from before the initial reindexing.
hr_df.reindex(columns=hr_df.columns)

                timestamp  heart_rate
0     2021-08-15 00:02:00        47.0
1     2021-08-15 00:03:00         NaN
2     2021-08-15 00:04:00        45.0
3     2021-08-15 00:05:00        49.0
4     2021-08-15 00:06:00        48.0
...                   ...         ...
61269 2021-09-26 13:11:00        72.0
61270 2021-09-26 13:12:00        84.0
61271 2021-09-26 13:13:00        76.0
61272 2021-09-26 13:14:00        81.0
61273 2021-09-26 13:15:00        76.0

[61274 rows x 2 columns]

In [24]:
hr_df.head()

            timestamp  heart_rate
0 2021-08-15 00:02:00        47.0
1 2021-08-15 00:03:00         NaN
2 2021-08-15 00:04:00        45.0
3 2021-08-15 00:05:00        49.0
4 2021-08-15 00:06:00        48.0

In [25]:
hr_df.isna().sum()

timestamp         0
heart_rate    12342
dtype: int64

In [26]:
dex_dir = getattr(path_config, 'dexcom_data_dir')
print(dex_dir)

C:/Users/Ethan/glucose-prediction/data/dexcom

In [27]:
dex_df = pd.read_csv(dex_dir + "/CLARITY_Export__Levi_2021-09-16_032109.csv")

In [28]:
dex_df = dex_df.rename(columns={'Timestamp (YYYY-MM-DDThh:mm:ss)': 'timestamp'})

In [29]:
dex_df.head()

,Index,timestamp,Event Type,Event Subtype,Patient Info,Device Info,Source Device ID,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams),Duration (hh:mm:ss),Glucose Rate of Change (mg/dL/min),Transmitter Time (Long Integer),Transmitter ID
0,1,NaN,FirstName,NaN,Levi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,LastName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Device,NaN,NaN,Dexcom Receiver with G6,PL84498928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,Alert,Fall,NaN,NaN,PL84498928,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,5,NaN,Alert,High,NaN,NaN,PL84498928,180.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
dex_df = dex_df[dex_df['timestamp'].notnull()]

In [31]:
dex_df.head(15)

,Index,timestamp,Event Type,Event Subtype,Patient Info,Device Info,Source Device ID,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams),Duration (hh:mm:ss),Glucose Rate of Change (mg/dL/min),Transmitter Time (Long Integer),Transmitter ID
10,11,2021-09-14T00:04:25,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8779273.0,8N8YQB
11,12,2021-09-14T00:09:25,EGV,NaN,NaN,NaN,PL84498928,140.0,NaN,NaN,NaN,NaN,8779573.0,8N8YQB
12,13,2021-09-14T00:14:25,EGV,NaN,NaN,NaN,PL84498928,139.0,NaN,NaN,NaN,NaN,8779873.0,8N8YQB
13,14,2021-09-14T00:19:25,EGV,NaN,NaN,NaN,PL84498928,121.0,NaN,NaN,NaN,NaN,8780173.0,8N8YQB
14,15,2021-09-14T00:24:26,EGV,NaN,NaN,NaN,PL84498928,111.0,NaN,NaN,NaN,NaN,8780473.0,8N8YQB
15,16,2021-09-14T00:29:25,EGV,NaN,NaN,NaN,PL84498928,113.0,NaN,NaN,NaN,NaN,8780773.0,8N8YQB
16,17,2021-09-14T00:34:25,EGV,NaN,NaN,NaN,PL84498928,119.0,NaN,NaN,NaN,NaN,8781073.0,8N8YQB
17,18,2021-09-14T00:39:25,EGV,NaN,NaN,NaN,PL84498928,126.0,NaN,NaN,NaN,NaN,8781373.0,8N8YQB
18,19,2021-09-14T00:44:26,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8781673.0,8N8YQB
19,20,2021-09-14T00:49:25,EGV,NaN,NaN,NaN,PL84498928,146.0,NaN,NaN,NaN,NaN,8781973.0,8N8YQB
20,21,2021-09-14T00:54:26,EGV,NaN,NaN,NaN,PL84498928,144.0,NaN,NaN,NaN,NaN,8782273.0,8N8YQB
21,22,2021-09-14T00:59:25,EGV,NaN,NaN,NaN,PL84498928,144.0,NaN,NaN,NaN,NaN,8782573.0,8N8YQB
22,23,2021-09-14T01:04:25,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8782873.0,8N8YQB
23,24,2021-09-14T01:09:25,EGV,NaN,NaN,NaN,PL84498928,142.0,NaN,NaN,NaN,NaN,8783173.0,8N8YQB
24,25,2021-09-14T01:14:26,EGV,NaN,NaN,NaN,PL84498928,142.0,NaN,NaN,NaN,NaN,8783473.0,8N8YQB

In [32]:
# Convert all the timestamps to datetimes
dex_df['timestamp'] = pd.to_datetime(dex_df['timestamp'], format = '%Y-%m-%dT%H:%M:%S', errors = 'coerce')
# Assert that all timestamps were converted successfully
assert dex_df.timestamp.isnull().sum() == 0, 'timestamp conversion failed'

In [33]:
dex_df.head(15)

,Index,timestamp,Event Type,Event Subtype,Patient Info,Device Info,Source Device ID,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams),Duration (hh:mm:ss),Glucose Rate of Change (mg/dL/min),Transmitter Time (Long Integer),Transmitter ID
10,11,2021-09-14 00:04:25,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8779273.0,8N8YQB
11,12,2021-09-14 00:09:25,EGV,NaN,NaN,NaN,PL84498928,140.0,NaN,NaN,NaN,NaN,8779573.0,8N8YQB
12,13,2021-09-14 00:14:25,EGV,NaN,NaN,NaN,PL84498928,139.0,NaN,NaN,NaN,NaN,8779873.0,8N8YQB
13,14,2021-09-14 00:19:25,EGV,NaN,NaN,NaN,PL84498928,121.0,NaN,NaN,NaN,NaN,8780173.0,8N8YQB
14,15,2021-09-14 00:24:26,EGV,NaN,NaN,NaN,PL84498928,111.0,NaN,NaN,NaN,NaN,8780473.0,8N8YQB
15,16,2021-09-14 00:29:25,EGV,NaN,NaN,NaN,PL84498928,113.0,NaN,NaN,NaN,NaN,8780773.0,8N8YQB
16,17,2021-09-14 00:34:25,EGV,NaN,NaN,NaN,PL84498928,119.0,NaN,NaN,NaN,NaN,8781073.0,8N8YQB
17,18,2021-09-14 00:39:25,EGV,NaN,NaN,NaN,PL84498928,126.0,NaN,NaN,NaN,NaN,8781373.0,8N8YQB
18,19,2021-09-14 00:44:26,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8781673.0,8N8YQB
19,20,2021-09-14 00:49:25,EGV,NaN,NaN,NaN,PL84498928,146.0,NaN,NaN,NaN,NaN,8781973.0,8N8YQB
20,21,2021-09-14 00:54:26,EGV,NaN,NaN,NaN,PL84498928,144.0,NaN,NaN,NaN,NaN,8782273.0,8N8YQB
21,22,2021-09-14 00:59:25,EGV,NaN,NaN,NaN,PL84498928,144.0,NaN,NaN,NaN,NaN,8782573.0,8N8YQB
22,23,2021-09-14 01:04:25,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8782873.0,8N8YQB
23,24,2021-09-14 01:09:25,EGV,NaN,NaN,NaN,PL84498928,142.0,NaN,NaN,NaN,NaN,8783173.0,8N8YQB
24,25,2021-09-14 01:14:26,EGV,NaN,NaN,NaN,PL84498928,142.0,NaN,NaN,NaN,NaN,8783473.0,8N8YQB

In [34]:
# Round Dexcom timestamps to the nearest minute to align with Garmin timestamps.
dex_df['timestamp'] = dex_df['timestamp'].round('min')

In [35]:
dex_df.head(15)

,Index,timestamp,Event Type,Event Subtype,Patient Info,Device Info,Source Device ID,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams),Duration (hh:mm:ss),Glucose Rate of Change (mg/dL/min),Transmitter Time (Long Integer),Transmitter ID
10,11,2021-09-14 00:04:00,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8779273.0,8N8YQB
11,12,2021-09-14 00:09:00,EGV,NaN,NaN,NaN,PL84498928,140.0,NaN,NaN,NaN,NaN,8779573.0,8N8YQB
12,13,2021-09-14 00:14:00,EGV,NaN,NaN,NaN,PL84498928,139.0,NaN,NaN,NaN,NaN,8779873.0,8N8YQB
13,14,2021-09-14 00:19:00,EGV,NaN,NaN,NaN,PL84498928,121.0,NaN,NaN,NaN,NaN,8780173.0,8N8YQB
14,15,2021-09-14 00:24:00,EGV,NaN,NaN,NaN,PL84498928,111.0,NaN,NaN,NaN,NaN,8780473.0,8N8YQB
15,16,2021-09-14 00:29:00,EGV,NaN,NaN,NaN,PL84498928,113.0,NaN,NaN,NaN,NaN,8780773.0,8N8YQB
16,17,2021-09-14 00:34:00,EGV,NaN,NaN,NaN,PL84498928,119.0,NaN,NaN,NaN,NaN,8781073.0,8N8YQB
17,18,2021-09-14 00:39:00,EGV,NaN,NaN,NaN,PL84498928,126.0,NaN,NaN,NaN,NaN,8781373.0,8N8YQB
18,19,2021-09-14 00:44:00,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8781673.0,8N8YQB
19,20,2021-09-14 00:49:00,EGV,NaN,NaN,NaN,PL84498928,146.0,NaN,NaN,NaN,NaN,8781973.0,8N8YQB
20,21,2021-09-14 00:54:00,EGV,NaN,NaN,NaN,PL84498928,144.0,NaN,NaN,NaN,NaN,8782273.0,8N8YQB
21,22,2021-09-14 00:59:00,EGV,NaN,NaN,NaN,PL84498928,144.0,NaN,NaN,NaN,NaN,8782573.0,8N8YQB
22,23,2021-09-14 01:04:00,EGV,NaN,NaN,NaN,PL84498928,143.0,NaN,NaN,NaN,NaN,8782873.0,8N8YQB
23,24,2021-09-14 01:09:00,EGV,NaN,NaN,NaN,PL84498928,142.0,NaN,NaN,NaN,NaN,8783173.0,8N8YQB
24,25,2021-09-14 01:14:00,EGV,NaN,NaN,NaN,PL84498928,142.0,NaN,NaN,NaN,NaN,8783473.0,8N8YQB

In [36]:
# Drop unnecessary columns.
dex_df.drop('Index', axis=1, inplace=True)
dex_df.drop('Event Type', axis=1, inplace=True)
dex_df.drop('Source Device ID', axis=1, inplace=True)
dex_df.drop('Event Subtype', axis=1, inplace=True)
dex_df.drop('Patient Info', axis=1, inplace=True)
dex_df.drop('Device Info', axis=1, inplace=True)
dex_df.drop('Glucose Rate of Change (mg/dL/min)', axis=1, inplace=True)
dex_df.drop('Transmitter Time (Long Integer)', axis=1, inplace=True)
dex_df.drop('Transmitter ID', axis=1, inplace=True)
dex_df.drop('Duration (hh:mm:ss)', axis=1, inplace=True)

dex_df.head()

,timestamp,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
10,2021-09-14 00:04:00,143.0,NaN,NaN
11,2021-09-14 00:09:00,140.0,NaN,NaN
12,2021-09-14 00:14:00,139.0,NaN,NaN
13,2021-09-14 00:19:00,121.0,NaN,NaN
14,2021-09-14 00:24:00,111.0,NaN,NaN

In [37]:
dex_df.reset_index(drop=True, inplace=True)
#dex_df.reindex(columns=dex_df.columns)
dex_df.head()

,timestamp,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
0,2021-09-14 00:04:00,143.0,NaN,NaN
1,2021-09-14 00:09:00,140.0,NaN,NaN
2,2021-09-14 00:14:00,139.0,NaN,NaN
3,2021-09-14 00:19:00,121.0,NaN,NaN
4,2021-09-14 00:24:00,111.0,NaN,NaN

In [38]:
dex_df[dex_df['timestamp'] == '2021-09-14 22:44:00']

,timestamp,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
225,2021-09-14 22:44:00,NaN,1.0,NaN

In [39]:
dex_df.shape

(502, 4)

In [40]:
# Inserting a glucose reading with the same timestamp as the above insulin event. I want to make sure I can combine these into
# one row.
dex_df = insert_row(224, dex_df, [pd.to_datetime('2021-09-14 22:44:00', format = '%Y-%m-%dT%H:%M:%S'), 143.0, np.nan, np.nan])
dex_df.shape

(503, 4)

In [41]:
dex_df[dex_df['timestamp'] == '2021-09-14 22:44:00']

,timestamp,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
224,2021-09-14 22:44:00,143.0,NaN,NaN
226,2021-09-14 22:44:00,NaN,1.0,NaN

In [42]:
# Combine any of these dexcom rows with same timestamp into one row.
#aggregation_functions = {'Glucose Value (mg/dL)': 'sum', 'Insulin Value (u)': 'sum', 'Carb Value (grams)': 'sum'}
#dex_df = dex_df.groupby(dex_df['timestamp']).aggregate(aggregation_functions)

In [43]:
#df_new[df_new['timestamp'] == '2021-09-14 22:44:00']
#dex_df[dex_df.index == '2021-09-14 22:44:00']

In [44]:
#dex_df['Insulin Value (u)'] = dex_df['Insulin Value (u)'].fillna(0)
#dex_df['Insulin Value (u)'] = dex_df['Insulin Value (u)'].fillna(0)

In [45]:
# Now we want to reassign all NaN values to the proper ones. For heart rate and glucose, this means we want to interpolate to
# fill in any gaps. For Insulin and Carbs we want all NaN values to go to 0. Note that NaN values are skipped by default, i.e.
# treated as 0 in 
#dex_df['Glucose Value (mg/dL)'] = dex_df['Glucose Value (mg/dL)'].interpolate(method='linear')
#dex_df['Insulin Value (u)'] = dex_df['Insulin Value (u)'].interpolate(method='linear')
#dex_df['Carb Value (grams)'] = dex_df['Carb Value (grams)'].interpolate(method='linear')

In [46]:
print("HR dataframe shape: ", hr_df.shape)
print("Dexcom dataframe shape: ", dex_df.shape)

HR dataframe shape:  (61274, 2)
Dexcom dataframe shape:  (503, 4)

In [47]:
merged_data = pd.merge(hr_df, dex_df, how='outer', on=['timestamp'])

In [48]:
# Combine any of these dexcom rows with same timestamp into one row. Note that the sum function ignores NaN values, so they
# will be treated as 0.
aggregation_functions = {'heart_rate': 'first', 'Glucose Value (mg/dL)': 'sum', 'Insulin Value (u)': 'sum', 
                         'Carb Value (grams)': 'sum'}
merged_data = merged_data.groupby(merged_data['timestamp']).aggregate(aggregation_functions)

In [51]:
merged_data.head()

,heart_rate,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
timestamp,,,,
2021-08-15 00:02:00,47.0,0.0,0.0,0.0
2021-08-15 00:03:00,NaN,0.0,0.0,0.0
2021-08-15 00:04:00,45.0,0.0,0.0,0.0
2021-08-15 00:05:00,49.0,0.0,0.0,0.0
2021-08-15 00:06:00,48.0,0.0,0.0,0.0

In [49]:
# Check to see that the carb/insulin events and glucose readings with the same timestamp have been properly combined along with
# their heart rate.
merged_data[merged_data.index == '2021-09-14 22:44:00']

,heart_rate,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
timestamp,,,,
2021-09-14 22:44:00,55.0,143.0,1.0,0.0

In [50]:
cols = ['heart_rate', 'Glucose Value (mg/dL)']
merged_data[merged_data[cols].notnull().all(axis=1)]

,heart_rate,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams)
timestamp,,,,
2021-08-15 00:02:00,47.0,0.0,0.0,0.0
2021-08-15 00:04:00,45.0,0.0,0.0,0.0
2021-08-15 00:05:00,49.0,0.0,0.0,0.0
2021-08-15 00:06:00,48.0,0.0,0.0,0.0
2021-08-15 00:07:00,46.0,0.0,0.0,0.0
...,...,...,...,...
2021-09-26 13:11:00,72.0,0.0,0.0,0.0
2021-09-26 13:12:00,84.0,0.0,0.0,0.0
2021-09-26 13:13:00,76.0,0.0,0.0,0.0
2021-09-26 13:14:00,81.0,0.0,0.0,0.0
2021-09-26 13:15:00,76.0,0.0,0.0,0.0